<nav>
  <menu>
    <li>
      <a class="poppins-medium" routerLink="./my-data">
        <ng-icon [svg]="userIcon"></ng-icon>
        <span>Mis datos</span>
      </a>
    </li>
    <li>
      <a class="poppins-medium" routerLink="./my-cart-credit">
        <ng-icon [svg]="creditCardIcon"></ng-icon>
        <span> Mis tarjeta</span>
      </a>
    </li>
    <li>
      <a class="poppins-medium" routerLink="/my-data">
        <ng-icon [svg]="shoppingCartIcon"></ng-icon>
        <span>Mis pedidos</span>
      </a>
    </li>
  </menu>
</nav>
