.button{
  text-align: center;
  border-radius: 4px;
  background-color: var(--button-primary);
  transition: background-color 1s ease-out;

  &:disabled{
  background-color: var(--sec);
  }

  &:hover{
    background-color: var(--button-secondary);
  }

}
