<section>
  @if(state){
  <app-mini-loading />
  }

  <header>
    <h3 class="poppins-medium">Agregar platos</h3>
  </header>


  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <app-input label="Nombre del plato" class="name" formControlName="name" [control]="control('name')">
      @if(control('max')?.errors?.['name']) {
      <app-text-error-input text="máximo de caracteres 30" />
      }
    </app-input>

    <app-input label="Descripción del plato" class="description" formControlName="description"
      [control]="control('description')">
    </app-input>

    <app-input-img label="Imagen" refId="img" class="image" formControlName="imgFile"
      placeholder="Inserte imágen del producto" [control]="control('imgFile')" />

    <app-input label="Importe" class="amount" formControlName="amount" [control]="control('amount')">
      @if(control('amount')?.errors?.['pattern'];) {

      <app-text-error-input text="ingrese números" />
      }
      @if(control('amount')?.errors?.['max'];) {

      <app-text-error-input text="el números es muy grande para un importe" />
      }
    </app-input>


    <div class="container-select category">
      <label for="" class="poppins-regular">Categoría</label>
      <select class="poppins-regular" formControlName="category">
        @for (cat of category; track cat.id) {
        <option [value]="cat.id">{{cat.name}}</option>

        }
      </select>
    </div>


    <div class="container">
      <div>
        <label class="poppins-regular">
          <input type="checkbox" formControlName="promotion">
          Promociones
        </label>
      </div>
      @if (control('promotion')?.value) {
      <app-input label="Importe" formControlName="discountAmount" [control]="control('discountAmount')" />
      }

      <button class="submit poppins-semibold" [disabled]="!form.valid || state">Confirmar</button>

    </div>

  </form>
</section>
