<section>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <header class="header-title">
      <h2 class="poppins-medium">Calificación</h2>
      <app-qualification-form formControlName="qualification" />
    </header>

    <app-input label="Déjanos tu comentario" formControlName="comment" />

    <button class="button send poppins-medium" [disabled]="!form.valid">Enviar</button>

  </form>

  <article>
    <header>
      <h3 class="poppins-medium">Nuestros clientes</h3>
    </header>

    <div class="container-comments">
      @for (comment of comments; track comment.id) {
      <app-comment [comment]="comment" />
      }
    </div>

  </article>

</section>