<main>
  <div class="container-hero">

    <div class="container-content">

      <div class="container-input">
        <input type="text" placeholder="buscar platillos" />
        <ng-icon [svg]="magnifying" class="magnifying"></ng-icon>
      </div>

      <h1 class="poppins-regular">Destacados esta semana</h1>


      <div class="flex-center flex-wrap">
        <hr />
        <p class="poppins-regular">tablas para compartir</p>
        <hr />
      </div>

      <p>carrusel</p>

    </div>

  </div>

  <section>
    <header>
      <h2>Lo que dicen nuestros clientes</h2>
      <p>Estamos muy orgullosos de ofrecer a nuestros clientes la mejor experiencia de Country Resto, y nos complace
        saber que nuestros esfuerzos son apreciados. Te invitamos a conocernos y a disfrutar de nuestros platos
        destacados en la ciudad de Buenos Aires.</p>
    </header>

  </section>

</main>
