<article class="card-plate">
  <header class="card-plate__header">
    <div class="card-plate__header-container-img">
      <img ngSrc="expleple.png" alt="expleple" fill />
    </div>
    <app-qualification [number]="0" />
    <h3 class="card-plate__title">Nombre </h3>
  </header>

  <div class="card-plate__description">
    <p>description</p>
  </div>

  <footer class="card-plate__footer">

    <strong>Precio</strong>

    <app-button-add-cart paragraph="Agregar al carrito" />

  </footer>

</article>
