@if(dish){
<article class="card-plate">
  <header class="card-plate__header">
    <div class="card-plate__header-container-img">
      <img [ngSrc]="dish.img" [alt]="dish.name" fill priority />
    </div>
    <app-qualification [number]="dish.qualification" />
  </header>

  <hgroup class="card-plate__description">
    <h2 class="card-plate__title poppins-medium">{{dish.name}} </h2>
    <p class="poppins-medium">{{dish.description}}</p>
  </hgroup>

  <footer class="card-plate__footer">

    <strong class="poppins-semibold">${{dish.amount}}</strong>

    <app-button-add-cart paragraph="Agregar al carrito" (onClick)="onAdd()" />

  </footer>

</article>
}