.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 106px;
  padding-inline: var(--padding-inline);
  background-color: var(--background);
  .nav-bar__container{
    display: flex;
    align-items: center;
  }
}

form{
  display: flex;
  flex-direction: column;
  gap: 45px;
}


.button-login{
  height: 57px;
  width: 423px;
}

.container-button{
  display: grid;
  place-items: center;
}
