<form>

  <app-input label="Nombre y apellido" class="username" />
  <app-input label="Codigo postal" class="code" />
  <app-input label="Localidad" class="locality" />
  <app-input label="Calle" class="calle" />
  <div class="number-piso">
    <app-input label="Numero" class="number" />
    <app-input label="Piso" class="piso" />

  </div>
  <app-input label="Contacto" class="contact" />
  <app-input label="Correo electronico" class="email" />
  <app-input label="Aclaracion (opcional)" class="aclaracion" />

  <button class="button button-submit poppins-semibold">Guardar</button>
</form>