.container-input{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input{
  height: 59px;
  padding-inline: 12px;
  border-radius: 6px;
  border: .06px solid #282828;
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  color: var(--text-secondary);
}


.icon-eye{
  position: absolute;
  inset-inline-end: 2%;
  inset-block: 57%;
  font-size: 22px;
}
.invalid{
  border: 1px solid var(--invalid);
}
