header{
  padding-top: 20px;
  text-align: center;
}
.container-dish{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5em;
  padding-block: 2em;
  padding-inline: var(--padding-inline);
}
