<div class="poppins-regular container-input"> <label [for]="refId">{{label}}</label>
  <div class="container-input-img" [ngClass]="{
    'invalid':  invalid
  }">
    <input #input type="file" [name]="refId" [id]="refId" accept="image/*" (change)="onInputChange(input)"
      (focus)="onError(input)" />
    <span class="placeholder poppins-regular" id="placeholder-element" (click)="input.click()">{{placeholder}}</span>
  </div>

  <button type="button" class="icon" (click)="input.click()">
    <ng-icon [svg]="icon"></ng-icon>
  </button>
</div>