.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 205px;
  width: 100%;
  padding-inline: var(--padding-inline);
  background-color: var(--background);
}

.container-list{
  display: flex;
  justify-content: space-between;
  width: 500px  ;
}

dd{
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  margin: 0;
  margin-top: 10px;
}
