dialog{
  height: 188px;
  width: 334px;
  border-radius: 4px;
}

section{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  height: 100%;

}

h3{
  margin: 0;
  font-size:24px;
  font-weight: 400;
}

footer{
  display: flex;
  justify-content: space-between;
  width: 300px;
}

button{
  height: 31px;
  width: 132px;
  border:1px solid var(--background);
  border-radius: 4px;
}

.confirm{
  background-color: var(--button-primary);
  transition: background-color 1s ease-out;
  &:hover{
    background-color: var(--button-secondary);
  }
}
