form{
  display: grid;
  grid-template-areas:
  "carts carts "
  "name name "
  "number cvv "
  "date ."
  ". button-submit"
  ;
  gap: 19px;
}

.carts{
  grid-area: carts;
  display:flex;
  gap: 12px;
}

.name{
  grid-area: name;
}


.number{
  grid-area: number;
}

.cvv{
  grid-area: cvv;
}

.date{
  grid-area: date;
}

.button-submit{
  grid-area: button-submit;
  justify-self: right;
  height: 50px;
  width: 228px;
  border-radius: 4px;
}
