<menu class="menu">
  @for (item of items; track $index) {
  @if (item.type === type.LINK) {
  <li>
    <a [routerLink]="item.link" routerLinkActive='active' class="poppins-medium">{{ item.name }}</a>
  </li>
  }

  @if (item.type === type.BUTTON) {



  @if(item.icon){
  @if(token !== ''){

  <li>
    <button (click)="item?.action()">
      <span>{{item.name}}</span>
      <ng-icon [svg]="item.icon" class="icon"></ng-icon>
    </button>
  </li>
  }
  }

  @if (token === '' && !item.icon) {
  <li>
    <button (click)="item?.action()" class="button-auth poppins-medium">{{ item.name }}</button>
  </li>

  }

  }

  }

</menu>
