.details{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-inline: var(--padding-inline);

  .details-container-img{
    --size: 400px;
    height: var(--size);
    width: var(--size);
  }
  .details__img{
    height: inherit;
    width: inherit;
    border-radius: 50%;
  }

  .details-article__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .container-icon{
      display: flex;
      align-items: center;
      gap: 4px;
    }
  }

  .details__start{
    color: var(--button-primary);
  }

  .details-article__footer,.container-options{
    display: flex;
    gap: 28px;
  }
  .container-options{
   align-items: center;
  }
}


.button-add-cart{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 45px;
  width: 253px;
  .button-add-cart__icon{
    font-size: 18px;
  }
}
.delay-minutes,
.text-style-secondary{
  color: var(--text-secondary);
}

.delay-minutes{
  font-size: 15px;
}
.mount{
  font-size: 30px;
}
